<div class="container">
  <div class="row">
    <div class="col s12">
      <mat-card>
        
        <mat-card-header>
          <mat-card-title>Sube tus productos en una sola vez</mat-card-title>
          <mat-card-subtitle>
            Puedes subir un archivo de formato csv para subir de una vez varios productos. Los productos con el mismo ID se actualizarán
          </mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <mat-horizontal-stepper [linear]="false" [disableRipple]="true" #stepper>

            <mat-step label="Información">
              <mat-card class="mat-elevation-z0">
                <mat-card-header>
                  <mat-card-title> Prepara tu archivo </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                  
                  <gdev-info></gdev-info>
                </mat-card-content>

                <mat-card-actions>
                  <div>
                    <button  mat-raised-button matStepperNext color="primary"> Siguiente</button>
                  </div>
                </mat-card-actions>
              </mat-card>
            </mat-step>
  
            <mat-step [stepControl]="fileFormGroup" >
              <mat-card class="mat-elevation-z0">
                <form [formGroup]="fileFormGroup">
                    <mat-card-content>
                      <ng-template matStepLabel>
                        
                        Cargar un archivo
                      </ng-template>
                      
                      <input style="display: none;" type="file" #fileInput name="file" formControlName="fileCtrl" required (change)="uploadFile($event)">
                      <p *ngIf="filename">{{filename}}</p>
                      
                      <button mat-raised-button color="primary" (click)="fileInput.click()">
                        <ng-container *ngIf="fileControl.hasError('required'); else cambiar">
                          Cargar
                        </ng-container>
                        <ng-template #cambiar>
                          Cambiar
                        </ng-template>
                        archivo
                      </button>
                      <mat-error *ngIf="fileControl.errors">
                        {{getFileErrorMessage(fileControl.errors)}}
                      </mat-error>
                      
                    </mat-card-content>
                    <mat-card-actions>
                      <div>
                        <button [disabled]="fileControl.hasError('required')" mat-button matStepperNext
                        (click)="getColumns()"
                        >Subir</button>
                      </div>
                    </mat-card-actions>
                  </form>

              </mat-card>
            </mat-step>
            
            <mat-step [stepControl]="columnsFormGroup" label="Organiza las columnas" >

              <mat-card class="mat-elevation-z0">
                <form [formGroup]="columnsFormGroup">
                  
                  <mat-card-header>
                    <mat-card-subtitle>
                      Organiza las columnas de tu archivo con los nombres relacionados que debe tener. El resto de tus columnas se incluirán como atributos extras de tus productos
                    </mat-card-subtitle>
                  </mat-card-header>

                  <mat-card-content>

                  </mat-card-content>
                  
                  
                  <mat-card-actions>
                    <div>
                      <button mat-button matStepperPrevious>Atrás</button>
                      <button mat-button matStepperNext>Siguiente</button>
                    </div>
                  </mat-card-actions>
                </form>
              </mat-card>
            </mat-step>
            
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          
          </mat-horizontal-stepper>
            
        </mat-card-content>
        
      </mat-card>
    </div>
  </div>
</div>