::ng-deep {
    mat-form-field {
        margin-bottom: 2em;
    }
    th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
      min-width: 75px !important;
    }
}

.required {
    color: rgb(225, 37, 37);
}

.format {
    color: #202020;
}

.info {
    color: rgb(41, 94, 230)
}

.noresult {
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap column;
    align-items: center;
    justify-content: center;
}

table {
  margin-bottom: 2em;
}

.table-container {
  max-height: 50vh;
  overflow: auto;
}
